@media only screen and (max-width: 36em) {
	.display-head {
		flex-direction: column;
	}

	.form {
		display: none !important;
	}

	.writeMsg-images {
		display: none !important;
	}

	/* .show-images {
		display: flex;
	} */

	.nav-logo {
		height: 50px;
		width: auto;
	}

	.display-head {
		flex-direction: column;
	}
} ;
