/* ========================================== */
/* variables */
/* ========================================== */
:root {
	--color-primary: #f3f3f3ff;
	--color-white: #fff;
	--color-black: #000;
	--color-border: rgba(220, 220, 220, 0.639);
}

/* ========================================== */
/* base class */
/* ========================================== */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	list-style-type: none;
	text-decoration: none;
}

body {
	background-color: var(--color-primary);
	color: var(--color-black);
	font-size: 16px;
	/* overflow-x: hidden; */
}

/* ========================================== */
/* utilities class */
/* ========================================== */

.btn {
	/* background-color: transparent; */
	border: none;
	outline: none;
	cursor: pointer;
}

.icon {
	height: 30px;
	width: 30px;
}

/* ========================================== */
/* navbar */
/* ========================================== */

.nav {
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-white);
}

.nav-logo {
	height: 80px;
	width: auto;
}

.nav-logo .logo {
	height: 100%;
	width: 100%;
}

.form {
	border: 1px solid #fff;
	background-color: var(--color-white);
	/* padding: 5px 10px; */
	border-radius: 5px;
	max-width: 300px;
	width: 100%;
}

.form-input {
	border: none;
	outline: none;
	width: 100%;
	padding: 10px 10px;
}

.btn-search {
	padding: 0 5px;
	background-color: transparent;
}

.btn-search .icon {
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateY(4px);
}

/* ========================================== */
/* left sidebar */
/* ========================================== */

.left-sidebar {
	padding: 2px;
	border: 1px solid var(--color-border);
	overflow-x: hidden;
	/* min-width: 300px; */
}

.left-sidebar-wrapper a {
	text-decoration: none;
	color: var(--color-black);
}

.options {
	border-bottom: 1px solid var(--color-white);
}

.options h6 {
	text-align: center;
	padding: 10px 0;
}

.left-sidebar-item {
	padding: 10px 20px;
}

.left-sidebar-item {
	border-bottom: 1px solid var(--color-border);
}

.contact div {
	font-size: 12px;
}

.contact div p {
	margin-top: 2px;
	margin-bottom: 0;
}

.contact div h6 {
	font-size: 12px;
}

.contact .avatar {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.avatar img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

/* ========================================== */
/* display */
/* ========================================== */

.display {
	border: 1px solid var(--color-border);
}

.display-head {
	width: 100%;
	padding: 10px;
}

.display-head-btns {
	gap: 20px;
}
.display-head-btns .btn {
	padding: 8px 30px;
}

.discussion {
	margin-top: 15px;
	font-size: 11px;
}

.discussion .profile {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	object-fit: cover;
}

.discussion h5 {
	padding: 8px 15px;
	border-radius: 10px;
	margin-left: auto;
	font-size: 18px;
}

.discussion-info h6 {
	border-radius: 5px;
}
/* 
.show-images {
	display: block;
	cursor: pointer;
	background-color: var(--color-white);
	border: none;
	outline: none;
	height: 40px;
	width: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.show-images .icon {
	height: 20px;
	width: 20px;
} */

.writeMsg {
	gap: 10px;
}

.writeMsg-images {
	gap: 5px;
}

.writeMsg-images img {
	height: 30px;
	width: 30px;
}

.message-form {
	/* border: 1px solid red; */
	background-color: var(--color-white);
	border-radius: 10px;
}

.writeMsg input {
	border: none;
	outline: none;
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
}

.message-form .btn {
	padding: 8px 25px;
}

.writeMsg img {
	height: 70%;
	cursor: pointer;
	margin-right: 5px;
}

/* ========================================== */
/* right sidebar */
/* ========================================== */

.right-sidebar {
	border: 1px solid var(--color-border);
	/* min-width: 300px; */
}

.right-sidebar h5 {
	font-size: 17px;
	text-align: center;
	background-color: #f3f3f3ff;
	padding: 2px;
	font-weight: bolder;
}

.right-sidebar table {
	background-color: #f3f3f3ff;
	border-top: 1px solid white;
	width: 100%;
}

.right-sidebar table tr {
	border-bottom: 1px solid white;
}

.form-update,
.form-withdrawn,
.form-password,
.form-mamber {
	background-color: var(--color-white);
	border-radius: 5px;
}

.form-password input,
.form-withdrawn input,
.form-mamber input,
.form-update input {
	border: none;
	outline: none;
	width: 100%;
	padding: 8px 12px;
}

.right-sidebar .opts .btn {
	font-size: 11px;
	background-color: var(--color-white);
	padding: 5px 8px;
	text-transform: capitalize;
	cursor: pointer;
	font-weight: 700;
}

/* history */

.history table td {
	/* height: 15px; */
	border-color: #f3f3f3ff;
	background-color: white;
}

/* ========================================== */
/* bottom */
/* ========================================== */

.bottom {
	font-family: 'Times New Roman', Times, serif;
	width: 100vw;
}

.bottom .bottom-left {
	background-color: #f3f3f3ff;
	padding: 20px 0 20px 30px;
}

.bottom .bottom-left .btns {
	gap: 15px;
}

.bottom .droite {
	padding: 20px 0 20px 30px;
	background-color: #f3f3f3ff;
	gap: 10px;
}

.bottom .droite p {
	background-color: white;
	padding: 8px 10px;
	font-size: 15px;
	margin: 0;
}
/*# sourceMappingURL=style.css.map */
